<!-- templates/categorias/listar.html -->
{% extends "base.html" %}

{% block title %}Categorías{% endblock %}

{% block content %}

<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>Agregar Producto-Grupo</h3>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post" id="formCreate">
                    <p>
                        <label>Nombre:</label><br>
                        <input class="form-control" type="text" name="nombre" required>
                    </p>
                    <p>
                        <label>Grupo Padre (ID, opcional):</label><br>
                        <select class="form-select" id="parent_id" name="parent_id">
                            <option value="">Sin asignar</option>
                            {% for grupo in producto_grupo %}
                            <option value="{{ grupo.uniqueid }}">{{ grupo.path }}</option>
                            {% endfor %}
                        </select>

                    </p>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{{ url_for('facturacion.producto_grupo_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>

                        <button type="submit" class="btn btn-primary" id="btn-submit">
                            <i class="fas fa-save"></i> Grabar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById('formCreate').addEventListener('submit', function(e) {
    // Verifica si el formulario es válido (usa la validación nativa del navegador)
    console.log(this.checkValidity());
    if (!this.checkValidity()) {
      // Si no es válido, no hacemos nada; el navegador ya muestra el mensaje
      return;
    }
    const submitBtn = this.querySelector('button[type="submit"]');
    const icon = submitBtn.querySelector('i');
    // Si es válido, desactivamos el botón y mostramos el spinner
    submitBtn.classList.add('disabled');
    submitBtn.style.pointerEvents = 'none';
    icon.className = 'fa-solid fa-spinner fa-spin';
  });
</script>
{% endblock %}
