{% extends "base.html" %} {% block title %}Grupos{% endblock %} {% block content %}



<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row" style="padding-left: 0.8rem;padding-right: 0.8rem;">
                    <div class="col-auto d-none d-sm-block">
                        <h3>Grupos</h3>
                    </div>
                    <div class="col-auto ms-auto text-end mt-n1">
                        <a class="btn btn-primary" href="{{ url_for('facturacion.producto_grupo_create') }}"><i class="fa-solid fa-plus"></i> Agregar</a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="tblList" class="table mb-0 table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Grupo Padre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if producto_grupo %} {% for item in producto_grupo %}
                            <tr>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.parent_nombre or '—' }}</td>

                                <td style="width: 1%" nowrap>

                                    <a href="{{ url_for('facturacion.producto_grupo_update', uniqueid=item.uniqueid) }}"
                                        class="btn btn-sm btn-info"><i class="fa-solid fa-pen-to-square"></i> Editar</a>

                                    <form id="form-delete-{{ item.uniqueid }}"
                                        action="{{ url_for('facturacion.producto_grupo_delete', uniqueid=item.uniqueid) }}"
                                        method="post" style="display: inline">
                                        <button type="submit" class="btn btn-sm btn-danger"
                                            data-id="{{ item.uniqueid }}"><i class="fa-solid fa-trash"></i>
                                            Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %} {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %}

<link href="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.js"></script>

<script>
    let table = new DataTable("#tblList", {
        language: {
            url: "https://cdn.datatables.net/plug-ins/2.0.8/i18n/es-ES.json",
        },
    });
</script>
{% endblock %}