<!-- templates/productos/form.html -->
{% extends "base.html" %} {% block title %}Serie-Correlativo{% endblock %}

{% block content %}
<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>Agregar Serie-Correlativo</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="tipo_comprobante" class="form-label">Tipo de comprobante <span class="text-danger">*</span></label>
                        <select class="form-select" id="tipo_comprobante" name="tipo_comprobante" required>
                            <option value="01">Factura</option>
                            <option value="03">Boleta de venta</option>
                            <option value="07">Nota de crédito</option>
                            <!--option value="08">Nota de débito</option-->
                        </select>
                        
                    </div>

                    <div class="mb-3">
                        <label for="serie" class="form-label">serie <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="serie" name="serie" required />
                    </div>

                    <div class="mb-3">
                        <label for="correlativo" class="form-label">correlativo <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="correlativo" name="correlativo" required />
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ url_for('facturacion.serie_correlativo_index') }}" class="btn btn-secondary"> <i class="fas fa-times"></i> Cancelar </a>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Grabar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
