<!-- templates/productos/form.html -->
{% extends "base.html" %}

{% block title %}{{ "Editar" if producto else "Nuevo" }} Producto{% endblock %}

{% block content %}
<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>Agregar Producto</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="POST">

                     <input type="hidden" id="uniqueid" name="uniqueid" value="{{ tarea.uniqueid if tarea else '' }}" required>

                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="titulo" name="titulo" value="{{ tarea.titulo if tarea else '' }}" required>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="fecha_inicio" class="form-label">Fecha Inicio <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ tarea.fecha_inicio.strftime('%Y-%m-%d') if tarea else '' }}" required>
                        </div>

                        <div class="col-6 mb-3">
                            <label for="fecha_fin" class="form-label">Fecha Fin <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="fecha_fin" name="fecha_fin" value="{{ tarea.fecha_fin.strftime('%Y-%m-%d') if tarea else '' }}" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="descripcion" name="descripcion">{{ tarea.descripcion if tarea else '' }}</textarea>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ url_for('task.task_index') }}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Grabar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<link href="/static/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<script src="/static/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script>

    // Establecer la fecha actual en el campo
    const hoy = new Date().toISOString().split('T')[0]; // Formato: "yyyy-mm-dd"
    document.getElementById('fecha_inicio').value = hoy;

    $('#fecha_inicio').datepicker({
        format: "yyyy-mm-dd",
        language: "es",
        autoclose: true,
        todayHighlight: true
    });

    $('#fecha_fin').datepicker({
        format: "yyyy-mm-dd",
        language: "es",
        autoclose: true,
        todayHighlight: true
    });
</script>
{% endblock %}