{% extends "base.html" %} {% block title %}Agregar orden{% endblock %} {% block content %}
<div class="main-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">Orden de Servicio</h5>
                </div>
                <div class="card-body">
                    <input type="hidden" id="uniqueId" value="{{order.UniqueId}}" />

                    <form id="formCreate" method="post">
                        <label class="form-label" style="margin-bottom: 0px">EO-RS Transportista</label>
                        <hr style="margin-top: 0px" />
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="form-label">RUC</label>
                                <input id="" class="form-control form-control-sm" value="{{session_username}}" disabled />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Razón Social<span class="text-danger">*</span></label>
                                <input id="" class="form-control form-control-sm" value="{{session_nombre}}" disabled />
                            </div>

                            <div class="col-md-2">
                                <label class="form-label">Tracto<span class="text-danger">*</span></label>
                                <input id="Placa_Tracto" class="form-control form-control-sm" value="{{order.Placa_Tracto}}" disabled />
                            </div>
                            <div class="col-md-2">
                                <label for="Placa_Carreta" class="form-label">Carreta<span class="text-danger">*</span></label>
                                <input id="Placa_Carreta" class="form-control form-control-sm" value="{{order.Placa_Carreta}}" disabled />
                            </div>
                        </div>
                        <label class="form-label" style="margin-bottom: 0px; margin-top: 20px">Gestor del servicio</label>
                        <hr style="margin-top: 0px" />
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="form-label">RUC</label>
                                <input id="Placa_Carreta" class="form-control form-control-sm" value="" disabled />
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Razón Social<span class="text-danger">*</span></label>
                                <input id="TransportistaId" class="form-control form-control-sm" value="" disabled />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Dirección<span class="text-danger">*</span></label>
                                <input id="TransportistaId" class="form-control form-control-sm" value="" disabled />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-2">
                                <label class="form-label">Fecha de Programación</label>
                                <input id="FechaProgramacion" name="FechaProgramacion" type="text" class="form-control form-control-sm" value="{{order.FechaProgramacion or ''}}" disabled />
                            </div>

                            <div class="col-md-2">
                                <label class="form-label">Conductor Nombre</label>
                                <input id="ConductorNombre" name="ConductorNombre" class="form-control form-control-sm" value="{{order.ConductorNombre}}" disabled />
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Conductor Licencia</label>
                                <input id="ConductorLicencia" name="ConductorLicencia" class="form-control form-control-sm" value="{{order.ConductorLicencia}}" disabled />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">Items</h5>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary float-end mb-2" onclick="openDialogAdd()">
                        <i class="fa-solid fa-plus"></i> Agregar
                    </button>

                    <table id="tblData" class="table table-sm  table-bordered " style="width: 100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Guía de Remisión</th>
                                <th>Guía de Transportista</th>
                                <th>Cliente</th>
                                <th>Fuente Generación</th>
                                {# <th>Manifiesto Código</th> #}
                                <th>Código de Basilea</th>
                                <th>Peso(Kg)</th>
                                <th>Volumen</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="formModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: none;">
                <h3 class="modal-title">Form Modal</h3>
                <button class="close md-close" data-dismiss="modal" aria-hidden="true"><i class="icon s7-close"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-2">
                            <label for="GuiaTransportista" class="form-label">Generador RUC</label>
                            <div class="input-group mb-3">
                                <input class="form-control form-control-sm" id="numero_doc" type="text" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm" onclick="buscarPersona()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <input id="ClienteId" name="ClienteId" class="form-control form-control-sm" type="hidden" />



                    </div>
                    <div class="col-6">
                        <div class="mb-2">
                            <label class="form-label" for="Tipo">Generador<span class="text-danger">*</span></label>
                            <input class="form-control form-control-sm" type="text" id="generador_name" />
                        </div>





                    </div>

                    <div class="col-12">
                        <div class="mb-2">
                            <label class="form-label" for="FuenteGeneracion">Fuente Generación</label>
                            <div class="input-group mb-3">
                                <select class="form-control form-control-sm" id="direccion" name="direccion"></select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm" onclick="openDireccion()"><i class="fa-solid fa-plus"></i> Agregar</button>
                                </div>
                            </div>

                        </div>



                    </div>


                    <div class="col-6">
                        <div class="mb-2">
                            <label for="GuiaRemision" class="form-label">Guía de Remisión</label>
                            <input id="GuiaRemision" class="form-control form-control-sm ">
                        </div>
                        <div class="mb-2">
                            <label for="GuiaTransportista" class="form-label">Guía del Transportista</label>
                            <input id="GuiaTransportista" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="Codigo">Código de Basilea</label>
                            <input type="text" class="form-control form-control-sm" id="Codigo" autocomplete="off" />
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="mb-2">
                            <label class="form-label" for="Peso">Peso(Kg)</label>
                            <input type="text" class="form-control form-control-sm" id="Peso" autocomplete="off" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="Volumen">Volumen</label>
                            <input type="text" class="form-control form-control-sm" id="Volumen" autocomplete="off" />
                        </div>





                        <div class="mb-2">
                            <label class="form-label" for="Descripcion">Descripción</label>
                            <input type="text" class="form-control form-control-sm" id="Descripcion" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" onclick="$('#formModal').modal('hide')">Cancel</button>
                <button class="btn btn-success" id="btnSave" data-dismiss="modal" onclick="saveOrderServicio()">Agregar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ubicacionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccionar Dirección</h5>
                {# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> #}
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Departamento</label>
                    <select id="selectDepartamento" class="form-control form-control-sm">
                        <option value="">Seleccione...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Provincia</label>
                    <select id="selectProvincia" class="form-control form-control-sm" disabled>
                        <option value="">Seleccione...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Distrito</label>
                    <select id="selectDistrito" class="form-control form-control-sm" disabled>
                        <option value="">Seleccione...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <input id="modalDireccion" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-dismiss="modal" onclick="$('#formModal').modal('hide')">Cancelar</button>
                <button type="button" class="btn btn-primary" id="agregarDireccion" onclick="agregarDireccion()">Confirmar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}


<script>

    let dataUbicaciones = {{ ubicaciones| tojson }};

    function openDireccion() {
        $('#modalDireccion').val('')

        $('#ubicacionModal').modal('show');
    }



    $(document).ready(function () {
        const depto = $('#selectDepartamento');
        const prov = $('#selectProvincia');
        const dist = $('#selectDistrito');

        // Llenar departamentos
        dataUbicaciones.departamentos.forEach(d => {
            depto.append(`<option value="${d.id}">${d.nombre}</option>`);
        });

        // Al cambiar departamento
        depto.change(function () {
            const deptoId = $(this).val();
            prov.empty().append('<option value="">Seleccione...</option>').prop('disabled', true);
            dist.empty().append('<option value="">Seleccione...</option>').prop('disabled', true);

            if (deptoId && dataUbicaciones.provincias[deptoId]) {
                dataUbicaciones.provincias[deptoId].forEach(p => {
                    prov.append(`<option value="${p.id}">${p.nombre}</option>`);
                });
                prov.prop('disabled', false);
            }
        });

        // Al cambiar provincia
        prov.change(function () {
            const provId = $(this).val();
            dist.empty().append('<option value="">Seleccione...</option>').prop('disabled', true);

            if (provId && dataUbicaciones.distritos[provId]) {
                dataUbicaciones.distritos[provId].forEach(d => {
                    dist.append(`<option value="${d.id}">${d.nombre}</option>`);
                });
                dist.prop('disabled', false);
            }
        });
        /*
          // Confirmar
          $('#btnConfirmar').click(function() {
            const distId = $dist.val();
            if (distId) {
              const depto = $depto.find('option:selected').text();
              const prov = $prov.find('option:selected').text();
              const dist = $dist.find('option:selected').text();
              alert(`Ubicación seleccionada:\n${dist}, ${prov}, ${depto}\nID: ${distId}`);
              // Aquí puedes usar distId para enviar a tu backend si lo necesitas
            } else {
              alert('Por favor selecciona un distrito.');
            }
          }); */
    });

    function openDialogAdd() {
        $('#formModal').modal('show');

        $('#numero_doc').val('')
        $('#generador_name').val('')
        $('#direccion').html('')
        $('#GuiaRemision').val('')
        $('#GuiaTransportista').val('')
        $('#Codigo').val('')
        $('#Peso').val('')
        $('#Volumen').val('')
        $('#Descripcion').val('')
    }

    function agregarDireccion() {
        if ($('#selectDistrito').val() == "") {
            alert('Seleccione distrito');
            return;
        }
        if ($('#modalDireccion').val() == "") {
            alert('Ingrese Dirección');
            return;
        }
        if ($('#ClienteId').val() == "") {
            alert('Seleccione Generador');
            return;
        }
        $('#agregarDireccion').html('<i class="fas fa-spinner fa-spin"></i>');

        var entity = {
            Ubigeo: $('#selectDistrito').val() || "",
            Direccion: $('#modalDireccion').val() || "",
            PersoneriaID: $('#ClienteId').val() || "",
        };

        $.ajax({
            url: '/ordenes/adddireccion',
            type: 'POST',
            data: entity,
            success: async function (result) {

                $('#agregarDireccion').html('<i class="fa-solid fa-cloud-arrow-up"></i> Grabar');
                $('#ubicacionModal').modal('hide');

                let select = document.getElementById('direccion');
                select.innerHTML = "";
                result.data.forEach(([id, direccion]) => {
                    const option = document.createElement('option');
                    option.value = id; // El ID (primer elemento)
                    option.textContent = direccion.trim(); // La dirección (segundo elemento)
                    select.appendChild(option);
                });

            },
            error: function (xhr, status, error) {
                alert('Error al guardar: ' + error);
            }
        });
    }

    details();

    async function details() {
        try {
            const result = await $.ajax({
                url: `/ordenes/getordenservices/${$("#uniqueId").val()}`,
                type: 'GET',
                dataType: 'json'
            });
            $("#tblData tbody").html('');

            for (let i = 0; i < result.length; i++) {
                let servicio = result[i];
                let td = "<td></td>";

                $("#tblData tbody").append(`<tr>

                    <td><a class="btn btn-sm btn-danger" title="Eliminar" href="/ordenes/delete/{{order.UniqueId}}/${servicio.UniqueId}"><i class="fa-solid fa-trash"></i></a></td> 

                    <td>${i + 1}</td>
                    <td>${servicio.GuiaRemision}</td>
                    <td>${servicio.GuiaTransportista}</td>
                    <td>${servicio.Personeria}</td>
                    <td>${servicio.Direccion}</td>
                    
                    <td>${servicio.Codigo}</td>
                    <td>${servicio.Peso}</td>
                    <td>${servicio.Volumen}</td>
                    <td>${servicio.Descripcion}</td>
                    </tr>`);//<td>${servicio.ManifiestoCodigo}</td>
            }


        } catch (error) {
            console.error('Error al obtener las columnas:', error);
            alert('Error al obtener las columnas: ' + error.responseText || error.statusText);
        }
    }


    function saveOrderServicio() {
        $('#btnSave').html('<i class="fas fa-spinner fa-spin"></i>');
        var entity = {
            UniqueId: $('#uniqueId').val() || "",
            GuiaRemision: $('#GuiaRemision').val() || "",
            GuiaTransportista: $('#GuiaTransportista').val() || "",
            Peso: $('#Peso').val() || "0",
            Volumen: $('#Volumen').val() || "0",
            Codigo: $('#Codigo').val() || "",
            Descripcion: $('#Descripcion').val() || "",
            ClienteId: $('#ClienteId').val() || "",
            Direccion: $('#direccion').val() || "",
        };

        $.ajax({
            url: '/ordenes/addservice',
            type: 'POST',
            //contentType: 'application/json',
            //data: JSON.stringify(entity),
            data: entity,
            success: async function (result) {
                details();
                $('#btnSave').html('<i class="fa-solid fa-cloud-arrow-up"></i> Grabar');
                $('#formModal').modal('hide');

            },
            error: function (xhr, status, error) {
                alert('Error al guardar: ' + error);
            }
        });
    }


    document.getElementById('formCreate').addEventListener('submit', function (e) {
        // Verifica si el formulario es válido (usa la validación nativa del navegador)
        console.log(this.checkValidity());
        if (!this.checkValidity()) {
            // Si no es válido, no hacemos nada; el navegador ya muestra el mensaje
            return;
        }
        const submitBtn = this.querySelector('button[type="submit"]');
        const icon = submitBtn.querySelector('i');
        // Si es válido, desactivamos el botón y mostramos el spinner
        submitBtn.classList.add('disabled');
        submitBtn.style.pointerEvents = 'none';
        icon.className = 'fa-solid fa-spinner fa-spin';
    });


    async function buscarPersona() {
        //const tipoDoc = document.getElementById("tipo_doc").value;
        const numeroDoc = document.getElementById("numero_doc").value.trim();
        const boton = document.querySelector('button[onclick="buscarPersona()"]');

        if (!numeroDoc) {
            alert("Por favor ingresa un número de documento.");
            return;
        }

        const textoOriginal = boton.innerHTML;

        // Activar estado de carga
        boton.disabled = true;
        boton.innerHTML = '<i class="fas fa-spinner fa-spin"></i> '; // o usa un spinner si tienes

        let url = `/ordenes/search_ruc/${numeroDoc}`;

        try {
            const response = await fetch(url);
            const data = await response.json();

            if (response.ok) {
                //if ($("#serie_id option:selected").text().trim().startsWith("Factura")) {
                $("#generador_name").val(data.razon_social);
                $("#ClienteId").val(data.personeria_id);

                const select = document.getElementById('direccion');
                data.direcciones.forEach(([id, direccion]) => {
                    const option = document.createElement('option');
                    option.value = id; // El ID (primer elemento)
                    option.textContent = direccion.trim(); // La dirección (segundo elemento)
                    select.appendChild(option);
                });

            } else {
                // Manejar respuesta con error (ej: 404, DNI no encontrado)
                alert("No se encontró información para el documento ingresado.");
            }
        } catch (error) {
            console.error("Error en la búsqueda:", error);
            alert("Ocurrió un error al buscar. Inténtalo de nuevo.");
        } finally {
            // Siempre restaurar el botón, incluso si hay error
            boton.disabled = false;
            boton.innerHTML = textoOriginal;
        }
    }





</script>
{% endblock %}