<!-- templates/productos/form.html -->
{% extends "base.html" %}

{% block title %}Actualizar Producto{% endblock %}

{% block content %}
<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>Actualizar Producto</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" id="formUpdate">

                    <input type="hidden" id="uniqueid" name="uniqueid" value="{{ producto.uniqueid if producto else '' }}" required>

                    <div class="mb-3">
                        <label for="producto_grupo_id" class="form-label">Categoría</label>
                        <select class="form-select" id="producto_grupo_id" name="producto_grupo_id">
                            {% for grupo in producto_grupo %}
                            <option value="{{ grupo.uniqueid }}" {{ 'selected' if producto and producto.producto_grupo_id==grupo.id else '' }}>
                                {{ grupo.path }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="producto_unidad_id" class="form-label">Unidad</label>
                        <select class="form-select" id="producto_unidad_id" name="producto_unidad_id">
                            {% for unidad in producto_unidad %}
                            <option value="{{ unidad.uniqueid }}" {{ 'selected' if producto and producto.producto_unidad_id==unidad.id else '' }}>
                                {{ unidad.nombre }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ producto.nombre if producto else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="enlace" class="form-label">Enlace <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="enlace" name="enlace" value="{{ producto.enlace if producto else '' }}" required>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="codigo" class="form-label">Código <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="codigo" name="codigo" value="{{ producto.codigo if producto else '' }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="precio_soles" class="form-label">Precio Soles <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="precio_soles" name="precio_soles" value="{{ producto.precio_soles if producto and producto.precio_dolar is not none else 0 }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="precio_dolar" class="form-label">Precio Dólares <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="precio_dolar" name="precio_dolar" value="{{ producto.precio_dolar if producto and producto.precio_dolar is not none else 0 }}" required>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" id="habilitado" name="habilitado" {% if producto.habilitado==1 %}checked{% endif %}>
                                    <span class="form-check-label">
                                        Habilitado
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="producto_precio_uniqueid" name="producto_precio_uniqueid" value="{{ producto.producto_precio_uniqueid  }}" required>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ url_for('facturacion.producto_index') }}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> {{ "Actualizar" if producto else "Guardar" }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {# <div class="card">
            <div class="card-body">
                <form method="post" action="{{ url_for('facturacion.producto_precio_create_update') }}">

                    <input type="hidden" id="producto_uniqueid" name="producto_uniqueid" value="{{ producto.uniqueid if producto else '' }}" required>

                    <input type="hidden" id="uniqueid" name="uniqueid" value="" value="{{ producto.producto_precio_uniqueid if producto else '' }}" required>

                    <div class="mb-3">
                        <label for="precio_soles" class="form-label">Precio Soles <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="precio_soles" name="precio_soles" value="{{ producto.precio_soles if producto and producto.precio_dolar is not none else 0 }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="precio_dolar" class="form-label">Precio Dólares <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="precio_dolar" name="precio_dolar" value="{{ producto.precio_dolar if producto and producto.precio_dolar is not none else 0 }}" required>
                    </div>

                    <div class="row">
                        <div class="col-md-4" style="display: none;">
                            <div class="mb-3">
                                <label for="unidad_medida_id" class="form-label">Unidad de medida <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="unidad_medida_id" name="unidad_medida_id" value="{{ producto.unidad_medida_id if producto else '' }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" id="habilitado" name="habilitado" {% if producto.habilitado_precio==1 %}checked{% endif %}>
                                    <span class="form-check-label">
                                        Habilitado
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Grabar
                        </button>
                    </div>
                </form>
            </div>
        </div> #}
    </div>
    <div class="col-md-6">
        {# <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('facturacion.producto_imagen_create') }}">

                    <input type="hidden" id="uniqueid" name="uniqueid" value="{{ producto.uniqueid if producto else '' }}" required>

                    <div class="mb-3">
                        <label for="codigo" class="form-label">Seleccionar imagen <span class="text-danger">*</span></label>
                        <input type="file" name="file" accept="image/*" class="form-control" required>
                    </div>


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Cargar
                        </button>
                    </div>
                </form>

                <div class="table-responsive mt-2">
                    <table id="tblList" class="table mb-0 table-sm table-bordered">
                        <tbody>
                            {% if imagenes %}
                            {% for imagen in imagenes %}
                            <tr>
                                <td><img src="{{ url_for('facturacion.producto_imagen_uploaded', filename = imagen.path) }}" class="img-fluid" /></td>
                                <td style="width: 1%;" nowrap>

                                    <form id="form-delete-{{ imagen.uniqueid }}" action="{{ url_for('facturacion.producto_imagen_delete', uniqueid=imagen.uniqueid, producto_uniqueid = producto.uniqueid) }}" method="POST" style="display:inline;">

                                        <button type="submit" class="btn btn-sm btn-danger" data-id="{{ imagen.uniqueid }}">
                                            <i class="fa-solid fa-trash"></i> Eliminar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>










            </div>
        </div> #}
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
  document.getElementById('formUpdate').addEventListener('submit', function(e) {
    // Verifica si el formulario es válido (usa la validación nativa del navegador)
    console.log(this.checkValidity());
    if (!this.checkValidity()) {
      // Si no es válido, no hacemos nada; el navegador ya muestra el mensaje
      return;
    }
    const submitBtn = this.querySelector('button[type="submit"]');
    const icon = submitBtn.querySelector('i');
    // Si es válido, desactivamos el botón y mostramos el spinner
    submitBtn.classList.add('disabled');
    submitBtn.style.pointerEvents = 'none';
    icon.className = 'fa-solid fa-spinner fa-spin';
  });
</script>
{% endblock %}