<!-- templates/productos/listar.html -->
{% extends "base.html" %}

{% block title %}Unidades{% endblock %}

{% block content %}


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row" style="padding-left: 0.8rem;padding-right: 0.8rem;">
                    <div class="col-auto d-none d-sm-block">
                        <h3><i class="fas fa-box"></i> Unidades</h3>
                    </div>
                    <div class="col-auto ms-auto text-end mt-n1">
                        <a class="btn btn-primary" href="{{ url_for('facturacion.producto_unidad_create') }}"><i class="fas fa-plus"></i> Agregar</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tblList" class="table mb-0 table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Abreviatura</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if list %}
                            {% for item in list %}
                            <tr>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.abreviatura }}</td>
                                <td style="width: 1%;" nowrap>
                                    <a href="{{ url_for('facturacion.producto_unidad_update', uniqueid=item.uniqueid) }}"
                                        class="btn btn-sm btn-info"><i class="fa-solid fa-pen-to-square"></i> Editar</a>

                                    <form id="form-delete-{{ item.uniqueid }}" action="{{ url_for('facturacion.producto_unidad_delete', uniqueid=item.uniqueid) }}" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-sm btn-danger" data-id="{{ item.uniqueid }}">
                                            <i class="fa-solid fa-trash"></i> Eliminar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<link href="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.js"></script>

<script>
    let table = new DataTable('#tblList', {
        lanitemuaiteme: {
            url: 'https://cdn.datatables.net/pluitem-ins/2.0.8/i18n/es-ES.json'
        }
    });

    document.querySelectorAll('.btn-danitemer').forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault(); // Evita el envío inmediato

            const form = this.closest('form');

            Swal.fire({
                title: '¿Estás seitemuro?',
                text: "¡No podrás revertir esta acción!",
                icon: 'warninitem',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Envía el formulario si confirma
                    form.submit();
                }
            });
        });
    });
</script>
{% endblock %}